<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static.css">
</head>
<body>
<div class="container">
    <h1>Sign Up</h1>
    <form id="signupForm" th:action="@{/signup}" method="post" onsubmit="return validateForm()">
        <div><label for="usernameInput">Username:</label>
            <input type="text" id="usernameInput" name="username">
        </div>
        <!--중복 확인 메세지 출력-->
        <div id="availabilityMessage"></div>

        <div><label>Password: <input type="password" name="password"/></label></div>
        <div><input th:class="button" type="submit" id="Register" value="Register"/></div> <!-- 버튼의 id를 "Register"로 설정 -->
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#usernameInput').on('input', function() {
            var username = $(this).val().trim();
            if (username === '') {
                $('#availabilityMessage').text('사용하실 id를 입력해주세요.');
                $('#Register').prop('disabled', true);
            } else {
                if (/[^a-zA-Z0-9]/.test(username)) {
                    $('#availabilityMessage').text('아이디에는 특수 문자를 사용할 수 없습니다.');
                    $('#Register').prop('disabled', true);
                } else {
                    $.ajax({
                        type: 'GET',
                        url: '/signup/checkUsername/' + username,
                        success: function (data) {
                            if (data === "사용 가능한 사용자명입니다.") {
                                $('#availabilityMessage').text(data);
                                $('#Register').prop('disabled', false); // 버튼의 id를 "Register"로 설정
                            } else {
                                $('#availabilityMessage').text(data);
                                $('#Register').prop('disabled', true); // 버튼의 id를 "Register"로 설정
                            }
                        },
                        error: function () {
                            $('#availabilityMessage').text('사용하실 id를 입력해주세요.');
                        }
                    });
                }
            }
        });
    });

    function validateForm() {
        var username = document.getElementById("usernameInput").value;
        var password = document.getElementsByName("password")[0].value;
        if (username === "" || password === "") {
            alert("Please input your name and pw.");
            return false;
        }
    }
</script>
</body>
</html>
